body {
  margin: 0;
  font-family: 'Swanky and Moo Moo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');
